*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --blueAccent: #27a5dc;
    --white: #ffffff;
    --black: #000;
    --grey: rgb(156, 156, 156);
    --lightGrey:#818181;
    --lightblue: #BFEAF5;
    --lightwhite: #EAFDFC;
    --logoOrange: #dc6f67;
    font-family: 'Ubuntu', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-color: var(--lightwhite);
}

/*
    Navigation
*/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: var(--white);
}

.nav .logo{
    padding: 0 4px;
}

.logo{
    max-width: 30%;
}

.logo-image{
   width: 140px;
   height: 140px;
   cursor: pointer;
}

.icon{
    padding: 0 14px;
    font-size: 1.3rem;
    color: var(--blueAccent);
}

.icon:hover{
   color: var(--lightblue);
   cursor: pointer;
}

.menu{
    position: relative;
}

.menu a{
    display: none;
}

/*
    Sliding mobile menu
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }

.sidenav-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidenav h2{
    color: var(--logoOrange);
}
  
.sidenav a{
    padding-top: 15px;
    text-decoration: none;
    font-size: 25px;
    color: var(--lightGrey);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: var(--white);
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.cart-notification i{
    position: absolute;
    top: -8px;
    right: 56px;
    color: red;
    font-size: .8rem;
}

.hidden{
   display: none;
}

/*
    Banner
*/
.banner{
    margin-top: 66px;
    text-align: center;
    padding: 10px 0;
    background-color: var(--blueAccent);
}

/* 

    Product
*/

#product-container{
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    gap: 30px;
}

.left{
    width: 60%;
    max-width: 300px;
}

.left img{
    width: 100%;
    object-fit: contain;
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right h1{
    text-align: center;
    padding-bottom: 16px;
}

.right p{
    padding-bottom: 16px;
}

.right input{
    width: 60px;
    padding: 6px 6px;
    font-size: 1.2rem;
}

.right span{
    color: var(--white);
    margin-top: 20px;
    padding: 10px 12px;
    background-color: var(--blueAccent);
    cursor: pointer;
}

.right span:hover{
    background-color: var(--logoOrange);
}

/*
input[type="number"] {
    
  }
  
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
   
  }
*/

/* 
  Featured Products
*/
.featured-container{
    width: 100%;
}

.featured-container h2{
    text-align: center;
    background-color: var(--blueAccent);
    padding: 30px 0;
    color: var(--white);
}

.featured-products{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
}

.product{
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.product img{
    width: 100%;
    padding-bottom: 10px;
}

.product h3{
    padding-bottom: 10px;
}

/*
   Footer | Socials
*/

footer{
    width: 100%;
    background-color: var(--blueAccent);
    padding: 10px 0;
}

footer h2{
    text-align: center;
}

.socials{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

footer h2{
    padding-top: 10px;
}
.socials i{
    color: var(--white);
    padding: 10px 10px;
    font-size: 2.4rem;
}

.disclaimer{
    color: var(--lightGrey);
    padding: 10px 10px;
    text-align: center;
}

.shoutout{
    background-color: var(--black);
    text-align: center;
    padding: 10px 0;
    color: var(--lightGrey);
}

.shoutout i{
    color: var(--logoOrange);
}

/*
    Media Queries
*/

@media screen and (min-width: 603px) {

    .menu{
        position: relative;
        padding-right: 10px;
    }
    .menu a{
        display: inline;
        justify-content: space-between;
        padding: 0 10px;
        color: var(--black);
        font-weight: 700;
        font-size: 1.2rem;
    }

    .menu a:hover{
        color: var(--lightblue);
    }

   .menu .menu-icon{
        display: none;
    }
    
    .container{
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 275px);
        gap: 10px;
    }
    .content{
        height: 350px;
        width: 255px;
    }

    .content img{
        padding: 8px 0;
    }

    .mystery{
        height: auto;  
    }

    #product-container{
        margin: 40px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        gap: 30px;
    }
    
    .left{
        width: 60%;
        max-width: 300px;
    }
    
    .left img{
        width: 100%;
        object-fit: contain;
    }
    
    .right{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right h1{
        text-align: center;
        padding-bottom: 16px;
    }
    
    .right p{
        padding-bottom: 16px;
    }
    
    .right input{
        width: 60px;
        padding: 4px 6px;
        font-size: 1.2rem;
    }
    
    .right span{
        color: var(--white);
        margin-top: 20px;
        padding: 10px 12px;
        background-color: var(--blueAccent);
        cursor: pointer;
    }
    
    .right span:hover{
        background-color: var(--logoOrange);
    }

    .featured-products{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        padding-bottom: 20px;
        gap: 20px;
    }

    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .product img{
        max-width: 250px;
        width: 100%;
        object-fit: cover;
    }

  }

  @media screen and (min-width: 1050px) {

    .container{
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 355px);
        gap: 10px;
    }

    .content{
        height: 350px;
        width: 275px;
    }

    .content img{
        padding: 8px 0;
    }

    .mystery{
        height: auto;
        padding: 10px 0;
        margin: 0 2px;
    }

  }