*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --blueAccent: #27a5dc;
    --white: #ffffff;
    --black: #000;
    --grey: rgb(156, 156, 156);
    --lightGrey:#818181;
    --lightblue: #BFEAF5;
    --lightwhite: #EAFDFC;
    --logoOrange: #dc6f67;
    font-family: 'Ubuntu', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: var(--lightwhite);
}

/*
    Navigation
*/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: var(--white);
}

.nav .logo{
    padding: 0 4px;
}

.logo{
    max-width: 30%;
}

.logo-image{
   width: 140px;
   height: 140px;
   cursor: pointer;
}

.icon{
    padding: 0 14px;
    font-size: 1.3rem;
    color: var(--blueAccent);
}

.icon:hover{
   color: var(--lightblue);
   cursor: pointer;
}

.menu{
    position: relative;
}

.menu a{
    display: none;
}

/*
    Sliding mobile menu
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }

.sidenav-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidenav h2{
    color: var(--logoOrange);
}
  
.sidenav a{
    padding-top: 15px;
    text-decoration: none;
    font-size: 25px;
    color: var(--lightGrey);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: var(--white);
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.cart-notification i{
    position: absolute;
    top: -8px;
    right: 56px;
    color: red;
    font-size: .8rem;
}
.hidden{
   display: none;
}

.nav-img{
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-img img{
    object-fit: fill;
    width: 100%;
    max-width: 1000px;
}
/* 
    Wrapper Container
*/
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro{
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
}

.intro h1{
    text-align: center;
    padding: 16px 0;
}

.intro h2{
    text-align: center;
    line-height: 2rem;
}

.intro a{
    text-decoration: none;
    color: var(--blueAccent);
}

.shop-btn{
    background-color: var(--blueAccent);
    text-align: center;
    color: var(--white);
    padding: 20px 0;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.shop-btn:hover{
    background-color: var(--logoOrange);
}

/* 
    Featured Products Section
*/
.featured-container{
    width: 100%;
    text-align: center;
    background-color: var(--blueAccent);
    padding: 10px 0;
    margin: 10px 0;
    color: var(--white);
}

/* 
    Featured Slideshow
*/


.container {
    position: relative;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}
  

  .mySlides {
    display: none;
    padding-left: 44px;
    padding-right: 44px;
  }
  
 
  .cursor {
    cursor: pointer;
  }
  

  .prev,
  .next {
    cursor: pointer;
    background-color: var(--lightblue);
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: var(--blueAccent);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
 
  .caption-container {
    text-align: center;
    padding: 4px 16px;
    color: var(--blueAccent)
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .column {
    float: left;
    width: 20%;
    padding: 2px 2px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.view a, i{
    color: var(--blueAccent);
    padding: 20px 0;
}

/* 

    Affiliates

*/
.affiliates{
    width: 100%;
    text-align: center;
    color: var(--white);
    background-color: var(--blueAccent);
    padding-bottom: 20px;
}
.affiliates h1{
    padding: 16px 0;
}

.affiliates img{
    width: 50%;
}

/* 

    Reviews

*/

.reviews{
    width: 100%;
    text-align: center;
    background-color: var(--logoOrange);
    padding-top: 10px;
}

.reviews h1{
    color: var(--white);
}

.review-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    padding: 16px 6px;
}

.review-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    line-height: 1.4rem;
    width: 260px;
}

.review-item p{
    padding: 8px 20px;
}

.review-lower{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-lower i{
    font-size: 1.3rem;
}

.fa-user{
    font-size: 3rem;
}

/*
   Footer | Socials
*/

footer{
    width: 100%;
    background-color: var(--blueAccent);
    padding: 10px 0;
}

footer h2{
    text-align: center;
}

.socials{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

footer h2{
    padding-top: 10px;
}
.socials i{
    color: var(--white);
    padding: 10px 10px;
    font-size: 2.4rem;
}

.disclaimer{
    color: var(--lightGrey);
    padding: 10px 10px;
    text-align: center;
}

.shoutout{
    background-color: var(--black);
    text-align: center;
    padding: 10px 0;
    color: var(--lightGrey);
}

.shoutout i{
    color: var(--logoOrange);
}

/*
    Media Queries
*/

@media screen and (min-width: 600px) {

    .menu{
        position: relative;
        padding-right: 10px;
    }
    .menu a{
        display: inline;
        justify-content: space-between;
        padding: 0 10px;
        color: var(--black);
        font-weight: 700;
        font-size: 1.2rem;
    }

    .menu a:hover{
        color: var(--lightblue);
    }

   .menu .menu-icon{
        display: none;
    }
    
    .shop-btn{
        width: 120px;
        background-color: var(--blueAccent);
        text-align: center;
        color: var(--white);
        padding: 20px 16px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .container {
        position: relative;
        max-width: 60%;
    }
   

  }

  @media screen and (min-width: 1050px) {

    .container {
        position: relative;
        max-width: 50%;
    }

  }